<% if(typeof messages.danger !="undefined"){%>
<div class="alert alert-danger">
    <button class="close" data-close="alert"></button>
    <span><strong><%- messages.danger %></strong></span>
</div>
<%}%>

<% if(typeof messages.errors !="undefined" && messages.errors.length){%>
<ul class="bg-danger">
    <% messages.errors.forEach(function (error) {%>
    <li class="text-white"><%- error %></li>
    <%}); %>
</ul>
<%}%>