<% layout('layout/default') %>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>User Types</h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>User Types</span>
                    </li>
                </ul>
                <!-- END PAGE BREADCRUMBS -->
                <% include ../../errors/errors %>
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-list font-green"></i>
                                <span class="caption-subject font-green bold uppercase">User Types</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12 margin-bottom-10">
                                    <div class="btn-group">
                                        <button class="btn green add_user_type"> Add New <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <form method="post" id="menu_form">
                                    <div class="col-md-10">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-actions" id="menu_table">
                                                <thead>
                                                <tr>
                                                    <th style="width: 10%;">#</th>
                                                    <th style="width: 40%;">User Type</th>
                                                    <th style="width: 10%;">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <% if(userTypes && userTypes.length > 0) { %>
                                                <% for(var i = 0; i < userTypes.length; i++) { %>
                                                <tr>
                                                    <td class="text-center"><%= (i+1) %> </td>
                                                    <td>
                                                        <input placeholder="User Type" class="form-control" required="required" name="names[]" type="text" value="<%= userTypes[i].name %>">
                                                        <input class="form-control" name="_ids[]" type="hidden" value="<%= userTypes[i]._id %>">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-rounded btn-condensed btn-xs delete_user_type">
                                                            <span class="fa fa-trash-o"></span> Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                <% }else { %>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td>
                                                        <input placeholder="User Type" class="form-control" required="required" name="names[]" type="text" value="">
                                                        <input class="form-control" name="_ids[]" type="hidden" value="-1">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-rounded btn-condensed btn-xs">
                                                            <span class="fa fa-times"></span> Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% }%>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th style="width: 10%;">#</th>
                                                    <th style="width: 40%;">User Type</th>
                                                    <th style="width: 10%;">Actions</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                            <div class="form-actions noborder">
                                                <button class="btn green add_user_type"> Add New <i
                                                        class="fa fa-plus"></i></button>
                                                <button type="submit" class="btn blue pull-right">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<% block('plugin_js').append('<script src="/custom/js/users/user_type.js" type="text/javascript"></script>') %>
